html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  display: none;
}

.heading {
  background-repeat: no-repeat;
  background-image: url(../images/image-hero-mobile.jpg);
  background-position-x: 12em;
  background-position-y: -1.5em;
  background-size: 50em;
  height: 40em;
  overflow: visible;
}

.menu {
  display: flex;
  margin-left: 12em;
  padding: 2em;
  gap: 31em;
}

.container {
  width: 40em;
  margin: 0 auto;
}

.first-card {
  width: 40em;
  height: 30em;
  text-align: center;
  margin-top: -8em;
  border-radius: 1em;
  overflow: visible;
  z-index: 2;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.mastercraft {
  margin-top: -3em;
}

.first-card h1 {
  margin: 0 4em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.first-card p {
  color: gray;
  font-size: 1.5rem;
  margin: 0 4em;
  margin-bottom: 1em;
}

.back {
  margin-top: 1em;
  width: 13em;
  height: 4em;
  border-radius: 3em;
  border: none;
  color: white;
}

.bookmark {
  display: none;
}

.icon-bookmark {
  margin-bottom: -2.5em;
  margin-left: 1em;
}

.second-card {
  width: 40em;
  height: 40em;
  text-align: center;
  border-radius: 1em;
  margin-top: 3em;
  padding-top: 3em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.second-card h1 {
  font-size: 4rem;
  margin-bottom: 0.2em;
}

.second-card p {
  color: gray;
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.backed {
  margin-bottom: 3em;
}

.total {
  margin-bottom: 3em;
}

.second-card hr {
  width: 7em;
  margin: 0 auto;
}

.progress-bar {
  width: 30em;
  height: 1em;
  border-radius: 1em;
  margin: 0 auto;
}

.third-card {
  width: 40em;
  height: 190vh;
  border-radius: 1em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 3em;
  padding: 0 3em;
  padding-top: 3em;
  padding-right: 5em;
}

.sub-title {
  font-size: 1.8rem;
  margin-bottom: 2em;
}

.pledge {
  color: #33a79e;
  margin-bottom: 2em;
}

.third-card p {
  font-size: 1.5rem;
}

.p1 {
  margin-bottom: 2em;
}

.semi {
  margin-top: 3em;
}

.semi-card {
  width: 30em;
  height: 35em;
  margin-bottom: 1em;
  margin-left: 2em;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 1em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.semi-card h3 {
  font-size: 1.8rem;
  margin-bottom: 0.5em;
}

.para {
  color: gray;
  margin-bottom: 1.5em;
}

.bottom p {
  color: gray;
}

span {
  color: black;
  font-size: 3rem;
  font-weight: bold;
  margin-right: 0.2em;
}

.select {
  margin-top: 2em;
  width: 10em;
  height: 3em;
  border-radius: 3em;
  border: none;
  background-color: #33a79e;
  color: white;
}

.out {
  background-color: gainsboro;
}

.semi-card-3 {
  opacity: 0.5;
}

.semi-card-3 .bottom span {
  color: gray;
}

.back {
  background-color: #33a79e;
}

.pop-up {
  margin-top: -142em;
  margin-left: 8em;
  width: 25em;
  height: 25em;
  text-align: center;
  background-color: white;
  z-index: 2;
  padding-top: 2em;
  display: none;
}

.pop-up img {
  margin-bottom: 2em;
}

.pop-up h2 {
  font-size: 2rem;
  margin-bottom: 1em;
}

.pop-up p {
  margin-bottom: 1em;
  color: gray;
  margin: 0 1em;
}

.pop-up button {
  width: 5em;
  height: 2em;
  border-radius: 1em;
  border: none;
  background-color: #33a79e;
  color: white;
}

.select:hover {
  cursor: pointer;
}

.got {
  cursor: pointer;
}

.back-project {
  display: none;
  background-color: bisque;
  width: 30em;
  padding-left: 1em;
}

.back-project p {
  color: gray;
  line-height: 2rem;
}

.close {
  margin-left: 26em;
  margin-bottom: -2em;
}

.back-title {
  margin-bottom: 1em;
}

.hidden {
  display: none;
}

.circle {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 1px solid gray;
}

.green {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: #33a79e;
}

.inner-card {
  border-color: none;
  border: 1px solid gray;
  border-radius: 1em;
  margin-right: 1.5em;
  margin-bottom: 1em;
}

.topp {
  display: flex;
  gap: 1.5em;
  padding: 1em;
}

.paragraph {
  margin-bottom: 1em;
}

@media only screen and (min-width: 750px) {
  .container {
    width: auto;
  }

  .heading {
    background-size: auto;
    background-position-x: 35em;
  }
  .first-card {
    width: auto;
    max-width: 900px;
    margin: 0 auto;
  }
  .second-card {
    width: auto;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-left: 4em;
    justify-content: space-between;
    gap: 25em;
  }
  .third-card {
    width: auto;
    max-width: 900px;
    margin: 0 auto;
  }
  .semi-card {
    width: auto;
    max-width: 900px;
    margin: 0 auto;
  }

  .semi .semi-card .top {
    display: flex;
    gap: 45em;
  }

  .semi .semi-card2 .top {
    display: flex;
    gap: 50em;
  }
  .semi .semi-card1 .top {
    display: flex;
    gap: 54em;
  }

  .semi .semi-card .para {
    margin-right: 5em;
    line-height: 2.5rem;
  }

  .semi .semi-card .bottom {
    display: flex;
    justify-content: space-between;
  }

  .left {
    margin-top: 2em;
  }

  .days p {
    margin-right: 0;
    margin-left: 0;
  }

  .menu {
    margin-left: 35em;
  }

  nav {
    display: block;
    margin-left: 12em;
  }

  .heading .menu .options a {
    text-decoration: none;
    color: white;
    margin-right: 1em;
  }

  .two-btn {
    display: flex;
    justify-content: space-between;
    padding: 0 5em;
  }

  .icon-bookmark {
    width: 6em;
    height: 6em;
    margin-top: 2em;
  }
}

.select:hover {
  cursor: pointer;
  background-color: #176862;
}

.back:hover {
  cursor: pointer;
  background-color: #176862;
}
